 h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(2.5rem, 6vw, 4rem);
  
  letter-spacing: 0.08em;
 
  margin-bottom: 1rem;
}

p {
  font-family: 'Montserrat', sans-serif;
}
 
 .left, .right {
    width: 100%;
    
  }


/* Use a media query to add a breakpoint at 800px: */
@media screen and (min-width: 801px) {
  .left, .right {
    width: 50%;
    float: left;
  }
   .right {
    width: 45%;
    float: left;
    margin-left: 1em;
  }
}

/* Responsive images */
img {
    max-width: 100%;
    height: auto;
}
#large {
  width:200px;
  height:200px;
  position:absolute;
  -webkit-box-shadow:0px 0px 0px 7px rgba(255, 255, 255, 0.85), 0px 0px 7px 7px rgba(0, 0, 0, 0.25), inset 0px 0px 40px 2px rgba(0, 0, 0, 0.25);
  box-shadow:0px 0px 0px 7px rgba(255, 255, 255, 0.85), 0px 0px 7px 7px rgba(0, 0, 0, 0.25), inset 0px 0px 40px 2px rgba(0, 0, 0, 0.25);
  background-repeat:no-repeat;
  pointer-events:none;
  background-color:rgba(255, 255, 255, 0.75);
  z-index:5;
  margin-top:0px;
  margin-left:0px;
  display:none
}
.zoom {
  cursor:crosshair
}
.zoom img { touch-action: pan-y; }
body.zooming { touch-action: none; }